
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRCptYDFmL0dXyORG-H75XqqF5m7W-yZPMhrqfHP0iOFqilPWoZhKCJmC3jGnSNKqjhTY&usqp=CAU" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text ">Digitall Ocean</span>
    </a>

    <div class="sidebar">
        <div class="form-inline">
            <div class="input-group">
                <div class="input-group-append">
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @for(menu of menus | menu: search; track menu){
                @if(menu.isTitle){

                <li class="nav-header">{{menu.name | translate}}</li>
                }@else if (menu.subMenus.length > 0) {
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                {{menu.name | translate}}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @for(subMenu of menu.subMenus  | menu: search; track subMenu){
                            <li class="nav-item">
                                <a [routerLink]="subMenu.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="nav-link">
                                    <i class="{{subMenu.icon}} me-2"></i>
                                    <p>{{subMenu.name | translate}}</p>
                                </a>
                            </li>
                            }
                        </ul>
                    </li>
                    }@else {

                    <li class="nav-item">
                        <a [routerLink]="menu.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
                            <i class="nav-icon {{menu.icon}}"></i>
                            <p>
                                {{menu.name | translate}}
                            </p>
                        </a>
                    </li>
                    }
                }
            </ul>
        </nav>
    </div>
</aside>