<div class="content-wrapper">
  <section class="content">
    <div class="home-content">
      <h1>{{"Accessibility" | translate}}</h1>
      <p>
         {{"24h/7 Browser based From anywhere at anytime: cloud based + offline version No specific installation requested." | translate}}
      </p>
      <h1>{{"Plug-and-play" | translate}}</h1>
      <p>
         {{"Simple to set up and easy to use. footprint and evaluate your performance." | translate}}
      </p>
      <h1>{{"Integrations" | translate}}</h1>
      <p>
         {{"Your existing tools and easily be implemented." | translate}}
      </p>
      <h1>{{"Security" | translate}}</h1>
      <p>
         {{"All your data are safely stored and transferred encrypted. Amazon Web Services (AWS) secures and backups your Data All data you put in are accessible only to the authorized member(s) of your team." | translate}}
      </p>
      <button (click)="navigateToDigitalOcean()" class="btn-primary">{{"Get Started" | translate}}</button>
    </div>   
  </section>
</div>