
<div class="content-wrapper">
  <section class="content">
    <div class="home-content">
      <h1>{{"Learn here. Dream here. Develop here." | translate}}</h1>
      <p>
         {{"Join the wave of developers building and scaling apps with simple cloud tools,top-tier reliability, and predictable pricing. Powerful and production-ready,  our cloud platform has the solutions you need to succeed." | translate}}
      </p>
      <button (click)="navigateToDigitalOcean()" class="btn btn-primary">{{"Get Started" | translate}}</button>
    </div>
    

    <div class="ship-icon">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRCptYDFmL0dXyORG-H75XqqF5m7W-yZPMhrqfHP0iOFqilPWoZhKCJmC3jGnSNKqjhTY&usqp=CAU" 
           alt="Gemi Sembolü" 
           class="brand-image img-circle elevation-3"
           style="opacity: .8; width: 150px; height: 150px;">
    </div>
        
  </section>
</div>
