.home-content {
    text-align: center;
    justify-content: center;
    color: #3fb4eb;
    padding: 50px;
  }
  
  h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #3fb4eb;
  }
  
  p {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #3fb4eb;
  }
  
  .btn {
    background-color: #3fb4eb;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3fb4eb;
  }
  
  .ship-icon {
    text-align: center;
    margin-top: 50px;
  }
  
  .btn-primary{
    color: white;
    background-color: #3fb4eb;
  }