.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #007bff;
}

.certificateModal {
  z-index: 2000;
}

/* Başlık hücreleri için ortalama */
.mat-header-cell {
  text-align: center; /* Başlıkları ortalar */
}

/* Veri hücreleri için ortalama */
.mat-cell {
  text-align: center; /* Verileri ortalar */
}
