.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #3fb4eb;
}

.certificateModal {
  z-index: 2000;
}

.mat-header-cell, .mat-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

